* {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;

  --newCardColor: #fff9e3;
  --headFootColor: #fffff0;
  --mainColor: #8aa6a3;
  --bookshelfColor: #35706a;
  --formColor: #d0e8cf;
  --btnColor: #e5e4e4;
}

.container {
  display: grid;
  grid-template-rows: 1fr 7.5fr 0.8fr;
}

/* Header */

.header {
  background-color: var(--headFootColor);
  grid-area: 1 / 1 / 2 / 2;

  display: grid;
  grid-template-columns: 5fr 0.7fr;
}

.header h1 {
  height: min-content;
  align-self: center;
  margin-left: 4ch;
}

.header button.show-form-btn {
  height: 8ch;
  border: none;
  align-self: center;
  background-color: var(--headFootColor);
  cursor: pointer;
}

/* Main/Bookshelf */

.main {
  background-color: var(--mainColor);
  grid-area: 2 / 1 / 3 / 2;
}

.bookshelf {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: min-content;
  gap: 2ch;
  padding: 2ch;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--bookshelfColor);
}

.new-card {
  display: flex;
  flex-direction: column;
  background-color: var(--newCardColor);
  border-radius: 1ch;
  height: min-content;
  padding: 4ch;
}

.card-info {
  display: grid;
  grid-template-columns: 10ch 1fr;
  grid-template-rows: 3ch;
  justify-items: start;
  gap: 2ch;
}

.remove {
  text-align: left;
}

.new-card > button {
  align-self: center;
  margin-top: 5ch;
  background-color: var(--btnColor);
}

.form-div {
  display: none;
}

.add-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.5ch;
  height: min-content;
  min-width: min-content;
  width: 35%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 5ch;
  background-color: var(--formColor);
  border-radius: 3ch;
  outline: 1px solid black;
  outline-offset: -2ch;
}

.form-line {
  display: flex;
  flex-wrap: wrap;
  gap: 2ch;
}

.btn-line {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3ch;
  margin-top: 4ch;
}

label {
  display: inline-block;
  margin-right: 4ch;
  width: 10ch;
  text-align: right;
}

input[type="text"] {
  display: inline-block;
  flex: 1;
  height: 3ch;
  width: 10%;
}

/* Footer */

footer {
  background-color: var(--headFootColor);
  grid-area: 3 / 1 / 4 / 2;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  align-items: center;
}

footer p {
  height: min-content;
  justify-self: end;
  margin-right: 1ch;
}

footer img {
  height: 3.5ch;
  margin-left: 1ch;
}
