@font-face {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/yeseva-one-v20-latin-regular.woff2") format("woff2"),
    url("fonts/yeseva-one-v20-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Nunito";
  font-style: light;
  font-weight: 300;
  src: url("fonts/nunito-v25-latin-300.woff2") format("woff2"),
    url("fonts/nunito-v25-latin-300.woff") format("woff");
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/nunito-v25-latin-regular.woff2") format("woff2"),
    url("fonts/nunito-v25-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Nunito";
  font-style: bold;
  font-weight: 500;
  src: url("fonts/nunito-v25-latin-500.woff2") format("woff2"),
    url("fonts/nunito-v25-latin-500.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;

  --newCardColor: #fff9e3;
  --headFootColor: #fffff0;
  --mainColor: #8aa6a3;
  --bookshelfColor: #35706a;
  --formColor: #d0e8cf;
  --btnColor: #e5e4e4;
  --focusColor: #0e1f1d;
}

.container {
  display: grid;
  grid-template-rows: 1fr 7.5fr 0.8fr;
}

/* Header */

.header {
  background-color: var(--headFootColor);
  grid-area: 1 / 1 / 2 / 2;

  display: grid;
  grid-template-columns: 5fr 0.7fr;
}

.header h1 {
  height: min-content;
  align-self: center;
  margin-left: 4ch;
}

.header button.show-form-btn {
  height: 8ch;
  border: none;
  margin-right: 5ch;
  background-color: var(--headFootColor);
  cursor: pointer;
}

.heading {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  font-size: 60;
}

/* Main/Bookshelf */

.main {
  background-color: var(--mainColor);
  grid-area: 2 / 1 / 3 / 2;
}

.bookshelf {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: min-content;
  gap: 2ch;
  padding: 2ch;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--bookshelfColor);
}

.new-card {
  display: flex;
  flex-direction: column;
  background-color: var(--newCardColor);
  border-radius: 1ch;
  height: min-content;
  padding: 4ch;
}

.card-info {
  display: grid;
  grid-template-columns: 10ch 1fr;
  grid-template-rows: 3ch;
  justify-items: start;
  gap: 2ch;
}

.remove {
  text-align: left;
}

.new-card > button {
  align-self: center;
  margin-top: 5ch;
  background-color: var(--btnColor);
}

.form-div {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.5ch;
  height: min-content;
  min-width: min-content;
  width: 35%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 5ch;
  background-color: var(--formColor);
  border-radius: 3ch;
  outline: 1px solid black;
  outline-offset: -2ch;
}

.form-line {
  display: flex;
  flex-wrap: wrap;
  gap: 2ch;
}

.btn-line {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3ch;
  margin-top: 4ch;
}

label {
  display: inline-block;
  width: 8.5ch;
  font-family: "Nunito";

  font-weight: 500;
  font-size: 2.15ch;
}

input[type="text"] {
  display: inline-block;
  flex: 1;
  height: 3ch;
  width: 10%;
}

input[type="checkbox"].statusValue {
  align-self: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  height: 2.5ch;
  width: 2.5ch;
  border: 1px solid var(--bookshelfColor);
  border-radius: 1ch;
  outline: none;
  background-color: var(--newCardColor);
  cursor: pointer;
  position: relative;
}

input[type="checkbox"].statusValue:checked {
  border: 1px solid var(--bookshelfColor);
  background-color: var(--newCardColor);
}

input[type="checkbox"].statusValue:checked::before {
  content: "\2713";
  color: var(--focusColor);
  position: absolute;
  bottom: -0.4ch;
  font-size: 4ch;
}

input[type="checkbox"].statusValue:focus {
  border: 2px solid var(--focusColor);
  outline: 2px var(--focusColor);
}

button.add-book {
  font-family: "Nunito";
  font-style: regular;
  font-weight: 400;
  background-color: var(--btnColor);
  padding: 0.8ch;
  border-radius: 3ch;
  border: 1px solid var(--bookshelfColor);
}

button.add-book:hover {
  background-color: var(--mainColor);
  cursor: pointer;
}

button.add-book:focus {
  border: 2px solid var(--focusColor);
  outline: 2px var(--focusColor);
}

/* Footer */

footer {
  background-color: var(--headFootColor);
  grid-area: 3 / 1 / 4 / 2;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  align-items: center;
}

footer p {
  height: min-content;
  justify-self: end;
  margin-right: 1ch;
}

footer img {
  height: 3.5ch;
  margin-left: 1ch;
}
