@font-face {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/yeseva-one-v20-latin-regular.woff2") format("woff2"),
    url("fonts/yeseva-one-v20-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Nunito";
  font-style: light;
  font-weight: 300;
  src: url("fonts/nunito-v25-latin-300.woff2") format("woff2"),
    url("fonts/nunito-v25-latin-300.woff") format("woff");
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/nunito-v25-latin-regular.woff2") format("woff2"),
    url("fonts/nunito-v25-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Nunito";
  font-style: bold;
  font-weight: 500;
  src: url("fonts/nunito-v25-latin-500.woff2") format("woff2"),
    url("fonts/nunito-v25-latin-500.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

  --newCardColor: #fff9e3;
  --headFootColor: #fffff0;
  --mainColor: #8aa6a3;
  --bookshelfColor: #35706a;
  --formColor: #d0e8cf;
  --btnColor: #e5e4e4;
  --focusColor: #0e1f1d;
  --error-color: #931b05;
  --invalidBGColor: rgb(247, 189, 189);
  --invalidBorderColor: rgb(249, 80, 80);
}

body {
  height: 100vh;
}

.container {
  height: 100%;
  max-width: 110em;
  margin: 0 auto;
  display: grid;
  grid-template-rows: min-content minmax(auto, 1fr) min-content;
}

/* Focus Styles */

.new-card > button:focus,
input[type="text"]:focus,
input[type="checkbox"].statusValue:focus,
button.add-book:focus {
  border: 2px solid var(--focusColor);
  outline: 2px var(--focusColor);
}

button.show-form-btn:focus img {
  border: 2px solid var(--focusColor);
  outline: 2px var(--focusColor);
  border-radius: 1ch;
  outline-offset: none;
}

a:focus img {
  border: 1px solid var(--focusColor);
  border-radius: 1ch;
  outline: 2px var(--focusColor);
  height: 3.8ch;
  width: 3.8ch;
  outline-offset: none;
}

a:focus {
  border: none;
  outline: none;
}

button.show-form-btn:focus {
  border: 5px solid white;
  outline: 5px white;
}

footer:focus {
  border: none;
}

/* Header */

.header {
  background-color: var(--headFootColor);
  grid-area: 1 / 1 / 2 / 2;
}

.header-div {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.header h1 {
  height: min-content;
  margin-left: 0.8em;
}

.header button.show-form-btn {
  width: 8ch;
  border: none;
  justify-self: flex-end;
  margin-right: 1.3em;
  background-color: var(--headFootColor);
  cursor: pointer;
}

.heading {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  font-size: 60;
}

/* Main/Bookshelf */

.main {
  background-color: var(--mainColor);
  grid-area: 2 / 1 / 3 / 2;
}

.bookshelf {
  min-height: 100%;
  overflow: auto;
  max-width: 90%;
  margin: 0 auto;
  background-color: var(--bookshelfColor);
}

/* Book Entry Form */

.form-div {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1em;
  min-height: min-content;
  min-width: min-content;
  margin: 1em auto;
  padding: 2em;
  background-color: var(--formColor);
  border-radius: 2em;
  outline: 1px solid black;
  outline-offset: -1em;
}

.req-msg {
  font-family: "Nunito";
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 1em;
}

.form-line {
  display: flex;
  flex-direction: column;
}

.form-line.finished-line {
  flex-direction: row;
}

label {
  font-family: "Nunito";
  font-weight: 500;
  font-size: 1.1em;
  padding-bottom: 0.3em;
}

input[type="text"] {
  font-family: "Nunito";
  font-weight: 400;
  font-size: 1.1em;
  padding-left: 0.5em;
  background-color: var(--newCardColor);
  border-radius: 0.5em;
  border: 0.1em solid var(--bookshelfColor);
}

input[type="text"]:valid {
  background-color: var(--newCardColor);
}

input[type="checkbox"].statusValue,
input[type="checkbox"].card-status {
  align-self: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  margin-left: 4em;
  height: 2.5ch;
  width: 2.5ch;
  border: 1px solid var(--bookshelfColor);
  border-radius: 1ch;
  outline: none;
  background-color: var(--newCardColor);
  cursor: pointer;
  position: relative;
}

input[type="checkbox"].statusValue:checked,
input[type="checkbox"].card-status:checked {
  border: 1px solid var(--bookshelfColor);
  background-color: var(--newCardColor);
}

input[type="checkbox"].statusValue:checked::before,
input[type="checkbox"].card-status:checked::before {
  content: "\2713";
  color: var(--focusColor);
  position: absolute;
  bottom: -0.4ch;
  font-size: 4ch;
}

.instruct {
  display: flex;
  justify-content: end;
  margin-top: -0.7em;
}

.title-msg,
.author-msg,
.pages-msg {
  color: var(--focusColor);
  font-family: "Nunito";
  font-weight: 500;
  font-size: 1.8ch;
}

.pages-msg {
  margin-bottom: 1em;
}

.msg-error {
  color: var(--error-color);
}

.btn-line {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3ch;
  margin-top: 1em;
}

button.add-book {
  font-family: "Happy Monkey";
  font-weight: 400;
  font-size: 1.1em;
  background-color: var(--btnColor);
  padding: 0.5em;
  border-radius: 0.6em;
  border: 1px solid var(--bookshelfColor);
}

button.add-book:hover {
  background-color: var(--mainColor);
  cursor: pointer;
}

/* Library Entry */

.card-div {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  justify-content: center;
  gap: 1em 0;
  margin: 1.5em auto;
}

.new-card {
  display: flex;
  flex-direction: column;
  background-color: var(--newCardColor);
  border-radius: 1ch;
  height: min-content;
  padding: 1em;
  margin: 0 auto;
  width: 16em;
}

.new-card h4 {
  font-family: "Nunito";
  font-weight: 500;
  font-size: 2.1ch;
}

.new-card p {
  font-family: "Nunito";
  font-weight: 300;
}

.card-info {
  display: grid;
  grid-template-columns: 10ch 1fr;
  grid-template-rows: min-content;
  justify-items: start;
  gap: 2ch;
}

input[type="checkbox"].card-status {
  margin-left: 0;
}

.remove {
  text-align: left;
}

.new-card > button {
  align-self: center;
  margin-top: 2em;
  background-color: var(--btnColor);
  font-family: "Nunito";
  font-weight: 400;
  font-size: 1rem;
  padding: 0.4em;
  border-radius: 0.6em;
  border: 1px solid var(--bookshelfColor);
}

.new-card > button:hover {
  background-color: var(--mainColor);
  cursor: pointer;
}

/* Footer */

.footer-div {
  grid-area: 3 / 1 / 4 / 2;
  background-color: var(--headFootColor);
  padding: 0.6em;

  display: flex;
  justify-content: center;
}

.copyright-div {
  display: grid;
  align-content: center;
}

.footer-div p {
  color: var(--dark-font-col);
}

.footer-div .logo-div a {
  margin-left: 1em;
}

.footer-div .logo-div a img {
  height: 3ch;
  outline: 1.5px solid transparent;
  border: 1px solid transparent;
}

/* .footer-div .logo-div a img:focus-visible {
  outline: 1.5px solid var(--dark-font-col);
  border: 1px solid transparent;
} */

/* Media Queries */

@media (min-width: 600px) {
  .card-div {
    grid-template-columns: repeat(2, 1fr);
  }

  .form {
    width: 30em;
  }

  input[type="checkbox"].statusValue {
    margin-left: 10em;
  }
}

@media (min-width: 900px) {
  .card-div {
    grid-template-columns: repeat(3, 1fr);
  }

  .form-div {
    margin: 5em auto;
  }

  .form {
    width: 40em;
  }

  input[type="checkbox"].statusValue {
    margin-left: 15.5em;
  }
}

@media (min-width: 1200px) {
  .card-div {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1600px) {
  .card-div {
    grid-template-columns: repeat(5, 1fr);
  }
}
